.App {
  position: relative;
}

.videoWrapper {

  opacity: 0.9;
  width: auto;
  height: auto;
}

.image {
  position: absolute;
  right: 0;
  width: 1440px;
  height: 900px;
}

.video {
  position: absolute;
  right: 0;
  top:0;
  width: 790px;
  height: 724px;
  display: flex;
  justify-content: center;
  align-items: center;
}
